@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
button{
    width: 120px;
    height: 50px;
    background: gold;
    color: black;
    border-radius: 18px;
    outline: none;
    margin: 20px;
}
#counting{
    padding: 12px;
    font-size: 1.8rem;
}
#warning{
    /*border-bottom: 3px dotted rgb(228,55,2);*/
    font-size: 1.5rem;
}
p{
    font-weight: 300;
    color: rgb(33, 47, 61);
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/image-tecnology1.jpg);
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-family: serif;
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    color: whitesmoke;
    font-size: 20px;
}
.btn-info{
    font-size: 1em;
    color: #fff;
    background: #45B39D;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn-info:hover{
    letter-spacing: 6px;
}
.about{
   background: #b7bec399;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header a:hover{
    color: #030e0f !important;
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;
}
header .logo span{
    color: #E53935;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header.sticky .navigation li a {
    color: #111;
}
header .navigation li a:hover{
    color: #ff0157;
}
section{
    padding: 100px;
}
.tituloTexto{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.tituloTexto span{
    color: #c5106c;
    font-weight: 700;
    font-size: 1.5em;
}
.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu {
background: #FFF;
}
.div-center{
    margin-left: auto;
    margin-right: auto;
}
.txt-center{
    text-align: center;
}
.imgBx img{
    width: 50%;
}
.testimonios{
    background: #1C3347;
}
.blanco .tituloTexto,
.blanco p{
    color: #fff;
}
.testimonios .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonios .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonios .content .box .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonios .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonios .content .box .texto{
    text-align: center;
}
.testimonios .content .box .texto p{
    color: #666;
    font-style:italic;
}
.testimonios .content .box .texto h3{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 400;
    text-align: end;
}
.txt-comentarios{
    color: rgb(33, 47, 61) !important;
    text-decoration: underline;
}
.txt-comentario-dentro{
    color: rgb(33, 47, 61) !important;
}
.box-coments{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.nombre-comentario-testimonio{
  color: red !important;
        text-align: end;
}
.box-relleno .cajaTexto input[type="submit"]{
        background: rgb(33, 47, 61) !important;
}
.texto .box-comentario hr{
    border: 0 none #000000;
    border-top: 1px solid #000000;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
}
.box .texto .box-comentario input[type="submit"]{
    cursor: pointer;
}
.box-coments p{
    text-align: center
}
.contacto{
    background: url(../imagenes/fondo-contacto.jpg);
    height: 100%;
    padding: 100px;
}
.formaContacto{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 10px;
}
.formaContacto h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.formaContacto .cajaTexto{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.formaContacto .cajaTexto input,
.formaContacto .cajaTexto textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.formaContacto .cajaTexto input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.derechosTexto{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.derechosTexto p{
    color: #333;
}
.derechosTexto a{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

@media(max-width:991px){
    header,
    header.sticky{
        padding: 10px 20px;
}
    header .navigation{
        display: none;
}
    header .navigation.activo{
     width: 100%;
     height: cal(100% - 70px);
     position: fixed;
     top: 70px;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background: #fff;
}
    header .navigation li {
    margin-left: 0;
}
    header .navigation li a{
    color: #111;
    font-size: 1.6em;
}
    .menuAlternar{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(https://cdn-icons-png.flaticon.com/512/5602/5602349.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.menuAlternar.activo{
    background: url(https://cdn-icons-png.flaticon.com/512/656/656958.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
    header .sticky .menuAlternar{
        filter: invert(1);
    }
    section {
    padding: 20px;
}
    .banner .content h2{
        font-size: 3em;
        color: #fff;
}
     .menu .content {
    margin-top: 20px;
}
    .menu .content .box{
        margin: 10px;
        
    }
    .menu .content .box .imgBx {
    height: 260px;
}
    .titulo {
    text-align: center;
}
    .tituloTexto {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 15px;
}
    .testimonios .content .box {
    margin: 10px;
    padding: 20px;
}
    .formaContacto {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
}
@media (max-width: 480px){
   .banner .content h2 {
    font-size: 2.5em;
    color: #fff;
}
}
.div-info{
    text-align: left;
    width: 85% !important;
}
.div-sec{
    background-color: #f5f5dc;
}
.div-sec2{
    background-color: #ffdab945;
}
#contador{
    background-color: aquamarine;
}
#cuenta{
    margin-top: 30px;
   display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.simply-section{
    background: #fff;
    width: 180px;
    height: 180px;
    margin: 0px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simply-amount{
    display: block;
    font-size: 50px;
    font-weight: 700;
    text-align-last: center;
}
.simply-word{
    font-weight: 300;
    font-size: 30px;
    color: gray;
}
.mb-3{
    margin-bottom: 3px;
}
.img-size{
    width: 100%;
}
.componentes{
    background-color: beige;
}
.border-b-morado{
    border-bottom: 1px solid darkmagenta !important;
}
.mt-3{
    margin-top: 3px;
}
.m-2{
 margin: 2px;   
}
.align-self-center {
    align-self: center;
}
.img-buzzer{
    height: 261px;
}
.fix-img{
    /*height: 260px;*/
    margin-bottom: 10px;
    border: 0.5px solid gray;
    
}
border-gray{
    border: 0.5px solid gray;
}